h1 {
    color: brown;
    text-align: center;
}   


P{
    text-align: center;

}




ul {
    text-align: center;
    list-style: none;
    border: dotted;
    width: 50%;
    padding-left: 0;
    margin: auto;
}
    
ul li {
    display: inline-block;
}

img {
display: block;


}


